@model List<Maqola>;
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Maqolalar</h1>

            </div>
            <div class="row row-sm">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <a asp-controller ="AdminHome" asp-action="AddMaqolalar">
                                <button class="btn btn-primary"> Qo'shish</button>
                            </a>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">
                                    <thead>
                                        <tr>
                                            <th class="border-bottom-0">Id</th>
                                            <th class="border-bottom-0">Mavzu</th>
                                            <th class="border-bottom-0">Maqola fayli</th>
                                            <th class="border-bottom-0">Yuborilgan vaqt</th>
                                            <th class="border-bottom-0">Holati</th>
                                            <th class="border-bottom-0">Konfrensiya</th>
                                            <th class="border-bottom-0">Muallif FIO</th>
                                            <th class="border-bottom-0">O`zgartirish</th>
                                            <th class="border-bottom-0">O`chirish</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model)
                                        {

                                            <tr>
                                                <td>@i.Id</td>
                                                <td>@i.Mavzu</td>
                                                <td><a href="/maqolalar/@i.MaqolaFayli">Yuklab Oling</a></td>
                                                <td>@i.YuborilganVaqt</td>
                                                <td>@i.Holat.ToString()</td>
                                                <td>@i.Konfrensiya.Mavzu</td>
                                                <td>@i.Muallif.Ism @i.Muallif.Familiya</td>
                                                <td><a class="btn btn-warning" asp-controller="AdminHome" asp-action="EditMaqolalar" asp-route-id="@i.Id">O`zgartirish</a></td>
                                                <td><a class="btn btn-danger" asp-controller="AdminHome" asp-action="DeleteMaqolalar" asp-route-id="@i.Id">O`chirish</a></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW OPEN -->
            <!-- ROW CLOSED -->
            <!-- ROW OPEN -->
            <!-- ROW CLOSED -->
            <!-- ROW OPEN -->
            <!-- ROW END -->
            <!-- ROW OPEN -->
            <!-- ROW CLOSED -->
            <!-- ROW OPEN -->
            <!-- ROW CLOSED -->
            <!-- ROW OPEN -->
            <!-- ROW CLOSED -->
            <!-- ROW OPEN -->
            <!-- ROW CLOSED -->
            <!-- ROW OPEN -->
            <!-- ROW CLOSED -->
            <!-- ROW OPEN -->
            <!-- ROW CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->
